.markdown-source-view.mod-cm6 .cm-inline-code {
    color: #99d4ee;
    font-family: "Fira Code", monospace;
    font-size: 0.95em;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0 2px;
    text-decoration: none;
    outline: none;
}

